baidu-aip==4.16.10
bitstring==4.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
cssselect==1.2.0
dlib==19.24.0
dnslib==0.9.23
dnspython==2.3.0
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==2.2.3
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.1.2
jieba==0.42.1
Jinja2==3.1.2
jsonify==0.5
keras==2.11.0
lxml==4.9.2
MarkupSafe==2.1.2
numpy==1.24.2
opencv-python==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
pydp==0.1.16
pydub==0.25.1
pymongo==4.3.3
PyMySQL==1.0.2
pyquery==2.0.0
python-chess==0.27.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-dp==1.1.1
PythonDNS==0.1
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
six==1.16.0
scikit-learn==1.2.2
tornado==6.2
urllib3==1.26.15
Werkzeug==2.2.3
xpinyin==0.7.6
zipp==3.15.0
