.card {
    border:none;
    background-color: rgb(250,250,250);
    box-shadow: 0 0 5px rgb(230, 230, 230);
}

.upload-btn {
    color:black;
    border-color: black;
}
.upload-btn:hover {
    color:lightgray;
    background-color: black;
}