.upload-form {
    margin: 1vw;
    padding: 1vw;
    border:none;
    background-color: rgb(250,250,250);
    box-shadow: 0 0 5px rgb(230, 230, 230);
    width: 98vw;
}

.desc-box {
    height: 10vh;
}

p, label  {
    font-weight: 300;
  }