.card {
    border:none;
    background-color: rgb(250,250,250);
    box-shadow: 0 0 5px rgb(230, 230, 230);
}

.card:hover {
    transition: 1s;
    background-color: rgb(227, 227, 255);
}

.upload-btn {
    color:black;
    border-color: black;
}
.upload-btn:hover {
    color:lightgray;
    background-color: black;
}

p {
    font-weight: 300;
}