html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

html, body {
  width:100%;
  overflow-x: hidden;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,0);
    padding:0;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    /* color: white; */
    mix-blend-mode:hard-light;
  }
  
  .navbar-nav {
    width: 100%;
  }
  
  
  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
  }

.nav-link:hover {
  text-decoration: overline;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 100px;
    display: flex;
}

.footer-item {
    margin: 1rem;
}

.black-bg {
  background-color: black;
}

.white {
  color: lightgray;
}

.bg-dark {
  background-color: black !important;
}

.f-con {
  margin-left: 1.5rem;
}

.signout-btn {
  background-color: white;
  color: black;
  padding: 0.25rem;
  border-radius: 3px;
}

.signout-btn:hover {
  transition: 0.5s;
  color: black;
  padding: 0.4rem;
}

a {
  text-decoration: none;
}