<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href={{url_for('static', filename='utils/logo.png')}}>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <link href={{url_for('static', filename='style/mydata.css')}} rel="stylesheet" />
    <link href={{url_for('static', filename='style/nav.css')}} rel="stylesheet" />
    <link href={{url_for('static', filename='style/gallery.css')}} rel="stylesheet" />

    <title>Safely Stat</title>
  </head>
  <body>
    <div class="container-fluid">

      {% include 'nav.html' %}

      <!-- Header -->

      <div class="row">
        <div class="col-sm-12 col-md-6 mt-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text" id="username">{{name}}</p>
              <h5 class="card-title">Email</h5>
              <p class="card-text" id="email">{{email}}</p>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">Upload</h5>
              <p class="card-text">
                To upload CSV data, choose one of the options from the Upload Data box.
                We currently have support for seven statistics in the Global Model and one
                statistic (count) in the Local Model.
              </p>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">Datasets</h5>
              <p class="card-text">
                To view your uploaded datasets, scroll down and view the various
                gallery pieces attributed to you or visit The Gallery. If there are no gallery pieces,
                upload a dataset!
              </p>
            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-6 mt-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5>Global Model</h5>
              <p>Your raw data will be sent to our database. Noise will be injected for all user defined queries.</p>
              <p>Supported statistics: Bounded Mean, Bounded Sum, Median, Maximum, Minimum, Standard Deviation, Variance.</p>
              <a class="btn btn-outline-secondary upload-btn" href="{{ url_for('page.upload_page_global')}}"
                >Global Upload</a>
              </div>
            </div>

          <div class="card mt-4">
            <div class="card-body">
              <h5>Local Model</h5>
              <p>Noise will be injected when you upload your data, ensuring we cannot see your sensitive data. 
                However, statistics accuracy is generally decreased in this model.</p>
                <p>Supported statistics: Count</p>
              <a class="btn btn-outline-secondary upload-btn" href="{{ url_for('page.upload_page_local')}}"
                >Local Upload</a>
              </div>
            </div>
        </div>
      </div>

      <!-- User datasets -->
      <div class="row">
        <div class="g-grad">
          <h1 class="g-title mt-2 text-center">My Gallery Pieces</h1>
        </div>
      </div>

      <div class="row">
        {%for s in stats%}

        
        <div class="col-sm-12 col-md-4 mt-3 mb-3">
          <a href= {{ url_for( 'data.get_datastats' , datastatid = s['_id']) }} >
            <div class="card gallery-card">
              <div class="card-body">
                <h5 class="card-title g-text">{{s['title']}}</h5>
                <p class="card-text g-text">
                  Created by <b>{{s['author']}}</b>
                </p>
              </div>
            </div>
          </a>
        </div>
      

      {%endfor%}
      </div>

    </div>

    {% include 'footer.html' %}
    <!-- <script src="../static/format.js"></script> -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
