<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href={{url_for('static', filename='utils/logo.png')}}>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <link href={{url_for('static', filename='style/nav.css')}} rel="stylesheet"
    /> <link href={{url_for('static', filename='style/upload.css')}}
    rel="stylesheet" />

    <!-- <py-config>
      

      [[fetch]]
      from = '../static/scripts/'
      files = ['local_algos.py']
    </py-config> -->

    <py-config>
      packages = ["numpy", "pandas", "scikit-learn"]
    </py-config>

    <title>Safely Stat</title>
  </head>
  <body>
    <div class="container-fluid">
      {% include 'nav.html' %}

      <div class="row">
        <div class="upload-form col-sm-12">
          <h3>Upload Dataset</h3>
          <form id="dataInput" class="border-top">
            <label for="datasetTitle" class="form-label mt-2">Title</label>
            <input
              type="text"
              class="form-control"
              id="datasetTitle"
              placeholder="My dataset"
              name="title"
            />

            <label for="datasetDesc" class="form-label mt-2">Description</label>
            <textarea
              class="form-control desc-box"
              id="datasetDesc"
              rows="4"
              placeholder="This dataset contains..."
              name="description"
            ></textarea>

            <!-- Stats -->
            <div id="stats" class="mt-4 border-top">
              <h5 class="mt-3">Field Statistics</h5>
              <p class="mt-2 mb-2 container-fluid">
                In the following section, specify the field (column) in your
                dataset you wish to include in the gallery piece. We currently
                only have support for count measurements in the local mode.
                Please note, when you upload your CSV dataset, your data will be
                automatically uploaded and you will be redirected to your MyData
                page.
              </p>
              <div class="container-fluid" id="add-col-btn">
                <div class="row" id="col-stat-box">
                  <div class="col-sm-6">
                    <label for="columnTitle" class="form-label mt-2"
                      >Field Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="columnTitle"
                      placeholder="Field one"
                      name="col_name"
                    />
                  </div>

                  <div class="col-sm-6">
                    <label for="epsilon" class="form-label mt-2">Epsilon</label>
                    <input
                      type="number"
                      class="form-control"
                      id="epsilon"
                      placeholder="0"
                      name="col_name"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Stats -->
            <div class="border-top mt-3">
              <h5 class="mt-3">Upload CSV Dataset</h5>
              <label for="formFile" class="form-label">CSV File</label>
              <input class="form-control" type="file" id="csvFile" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      function form() {
        var form = document.forms.dataInput;

        var obj = {
          title: form.datasetTitle.value,
          description: form.datasetDesc.value,
          local: true,
        };

        var stats = {};

        stats[form.columnTitle.value] = {
          "count": {
            epsilon: form.epsilon.value
          }
          
        };

        obj["stats"] = stats;

        return obj;
      }

      function csvData() {
        let input = document.getElementById("csvFile");
        input.addEventListener("change", function () {
          var formdata = form();
          if (this.files && this.files[0]) {
            var myFile = this.files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function (e) {
              let csvdata = e.target.result;
              sendData(csvdata, formdata)
              // parse(csvdata); // calling function for parse csv data
            });

            reader.readAsBinaryString(myFile);
          }
        });
      }

      async function sendData(csvdata, formdata) {

        var localDP = pyscript.interpreter.globals.get('local_dp')
        const data = localDP(document.forms.dataInput.epsilon.value, document.forms.dataInput.columnTitle.value, csvdata)

        console.log(data)
        
        payload = {
          data: data,
          title: formdata.title,
          description: formdata.description,
          local: formdata.local,
          stats: formdata.stats,
        };

        $.ajax({
          type: "POST",
          url: "/upload",
          contentType: "application/json",
          data: JSON.stringify(payload),
          success: function (res) {
            console.log(res);
            window.location.replace(window.location.origin + res);
          },
        });
      }

      csvData();
    </script>


    <py-script src="../static/scripts/local_algos.py">
    </py-script>

    {% include 'footer.html' %}

    <!-- Scripts -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
